.obsidian
env
.ipynb_checkpoints
*.jpg
*.pdf
*.avi
*.png
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/config
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json
